<section class="about" id="about">
  <div class="about-div container">
    <div class="about-wave-up">
      <svg class="wave-up-icon">
        <use href="./public/img/sprite.svg#icon-wave-up-t"></use>
      </svg>
    </div>
    <div class="about-wave-up-d">
      <svg class="wave-up-icon-d" width="1200">
        <use href="./public/img/sprite.svg#icon-about-up"></use>
      </svg>
    </div>
    <h2 class="about-title">About us</h2>
    <p class="about-text">
      Embark on a spellbinding journey with Candy Witch where you'll match
      sweets and use magical boosters to clear levels. This enchanting match-3
      game offers a variety of challenges that will keep you entertained for
      hours.
    </p>
    <div class="about-wave-buttom">
      <svg class="wave-buttom-icon">
        <use href="./public/img/sprite.svg#icon-wave-buttom-t"></use>
      </svg>
    </div>
    <div class="about-wave-buttom-d">
      <svg class="wave-buttom-icon-d">
        <use href="./public/img/sprite.svg#icon-about-bottom"></use>
      </svg>
    </div>
  </div>
</section>
