<section class="benefits" id="benefits">
  <div class="benefits-container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        Engage in hundreds of unique and challenging levels.
      </li>
      <li class="benefits-list-item">
        Experience magical themes and vivid graphics.
      </li>
      <li class="benefits-list-item">
        Unlock powerful boosters to blast through levels.
      </li>
      <li class="benefits-list-item">
        Compete against friends in leaderboards.
      </li>
      <li class="benefits-list-item">
        Enjoy regular updates with new levels and events.
      </li>
    </ul>
  </div>
</section>
