<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-text-list">
      <li class="footer-text-list-item">
        <p class="footer-text">All rights reserved</p>
      </li>
      <li class="footer-text-list-item">
        <p class="footer-text">luckygamewave.com | 2024</p>
      </li>
    </ul>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item">
          <a href="./privacy-policy.html" class="footer-nav-link"
            >Privacy policy</a
          >
        </li>
        <li class="footer-nav-list-item">
          <a href="./terms-of-us.html" class="footer-nav-link"
            >Terms and conditions</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
