<section class="gallery-cont">
  <div class="container gallery-section" id="gallery">
    <h2 class="gallery-title">Gallery</h2>

    <div class="cont-absolute">
      <svg class="gallery-wave-l">
        <use href="./public/img/sprite.svg#icon-vector-1"></use>
      </svg>

      <svg class="gallery-wave-r">
        <use href="./public/img/sprite.svg#icon-vector-1-1"></use>
      </svg>
    </div>

    <div class="gallery-slider">
      <div class="gallery">
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
      </div>
    </div>
  </div>
</section>
