<section class="gallery-section">
  <div class="container gallery-section" id="gallery">
    <h2 class="gallery-title">Gallery</h2>

    <div class="gallery-slider">
      <div class="gallery">
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-1-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-2-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />

        <img
          src="./public/img/gallery/phone/photo-4-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-5-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
        <img
          src="./public/img/gallery/phone/photo-6-t-min.png"
          alt="photo gallery"
          class="gallery-img"
        />
      </div>
      <!-- <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-1-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-1-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-1-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div>

                <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-2-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-2-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-2-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div>


                <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-3-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-3-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-3-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div>


                <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-4-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-4-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-4-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div>


                <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-5-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-5-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-5-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div>


                <div class="img-wrapper">
                    <source srcset="./public/img/gallery/desktop/photo-6-min.png" media="(min-width: 1200px)" />
                    <source srcset="./public/img/gallery/phone/photo-6-t-min.png" media="(min-width: 320px)" />
                    <img src="./public/img/gallery/phone/photo-6-t-min.png" alt="photo gallery" class="gallery-img" />
                    </picture>
                </div> -->
    </div>
  </div>
</section>
