<header class="header container">
  <div class="header-container">
    <a href="../index.html" class="logo">
      <img src="../img/header/logo.png" alt="logo" class="logo-img" /><span
        class="logo-span"
        >Candy Witch</span
      >
    </a>

    <button class="menu-open-btn" type="button">
      <svg
        class="menu-open-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu open button"
      >
        <use href="../img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="../index.html" class="nav-list-link">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="#about" class="nav-list-link">About us</a>
        </li>
        <li class="nav-list-item">
          <a href="#gallary" class="nav-list-link">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a href="#benefits" class="nav-list-link">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
