<header class="header">
  <div class="header-container container">
    <a href="./index" class="logo">
      <img
        src="./public/img/header/logo.png"
        alt="logo"
        class="logo-img"
      /><span class="logo-span">Candy Witch</span>
    </a>

    <button data-modal-open class="menu-open-btn" type="button" id="toggleMenu">
      <svg
        class="menu-open-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu open button"
      >
        <use href="./public/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#home" class="nav-list-link">Home</a>
        </li>
        <li class="nav-list-item">
          <a href="#about" class="nav-list-link">About us</a>
        </li>
        <li class="nav-list-item">
          <a href="#gallery" class="nav-list-link">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a href="#benefits" class="nav-list-link">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-list-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
