
    <section class="home">
        <div class="home-container container">
            <div class="home-container-left">
                <h1 class="home-title">Candy Witch</h1>
            <p class="home-text">Spellbinding Sweets and Magical Match-3 Challenges!</p>
            <a href="https://play.google.com/store/apps/details?id=com.outplayentertainment.candywitch" class="home-link">
                <picture>
                    <source srcset="../img/home/desktop/google-light-min.png 1x, ../img/home/desktop/google-light@2x-min.png 2x" media="(min-width: 1200px)"/>
                    <source srcset="../img/home/phone/google-light-p-min.png 1x, ../img/home/phone/google-light@2x-p-min.png 2x" media="(min-width: 320px)" />
                    <img href="" class="home-link-img" alt="google play link"></img>
                </picture> 
            </a>
            </div>
            <div class="home-container-right">
                <picture>
                    <source srcset="../img/home/desktop/iphone-16-pro-min.png 1x,../img/home/desktop/iphone-16-pro@2x-min.png 2x" media="(min-width: 1200px)"/>
                    <source srcset="../img/home/phone/iphone-16-pro-p-min.png 1x,../img/home/phone/iphone-16-pro@2x-p-min.png 2x" media="(min-width: 320px)" />
                    <img src="../img/home/phone/iphone-16-pro-p-min.png" alt="iphone 16 pro" class="home-main-img">
                </picture>               
            </div>
        </div>
    </section>

