<div class="modal-overlay" data-modal id="mobileMenu">
  <div class="modal">
    <button class="mobile-menu-close-btn" type="button" data-modal-close>
      <svg
        class="mobile-menu-close-icon"
        width="24"
        height="24"
        aria-label="icon close"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="nav-modal">
      <ul class="nav-list-modal">
        <li class="nav-list-item-modal">
          <a href="#home" class="nav-list-link-modal">Home</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#about" class="nav-list-link-modal">About us</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#gallary" class="nav-list-link-modal">Gallery</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#benefits" class="nav-list-link-modal">Benefits</a>
        </li>
        <li class="nav-list-item-modal">
          <a href="#reviews" class="nav-list-link-modal">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
