.about {
  padding-top: 30px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ad90c5;
}

.about-div {
  background-image: url(../public/img/waves/phone/about-us-t.png),
    linear-gradient(rgba(173, 144, 197, 0.993), rgba(173, 144, 197, 0.993));
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 310px;
}

.about-title {
  font-family: 'ADLaM Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin-bottom: 12px;
  padding-top: 67px;
}
.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: start;
  color: #4c2d7c;
  max-width: 284px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .about {
    padding-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ad90c5;
  }
  .about-div {
    background-image: url(../public/img/waves/desktop/about-us.png),
      linear-gradient(rgba(173, 144, 197, 0.993), rgba(173, 144, 197, 0.993));
    background-repeat: no-repeat;
    /* background-clip: padding-box; */
    background-position: 32% 50%;
    height: 370px;
  }

  .about-title {
    margin-bottom: 24px;
    font-size: 48px;
    margin-top: -1px;
  }

  .about-text {
    max-width: 731px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 47px;
  }
}
