.footer {
  background-color: #4c2d7c;
}

.container {
  box-sizing: border-box;
  max-width: 320px;
}

.footer-container {
  max-width: 320px;
  padding: 11.5px 24px 15px 24px;
  background-color: #4c2d7c;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-text {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
}

.footer-text-list {
  margin-bottom: 54.5px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav-list-item {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
}

@media only screen and (min-width: 1200px) {
  .container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    max-width: 1200px;
    padding: 49.5px 70px 59px 70px;
    box-sizing: border-box;
    background-color: #4c2d7c;
  }

  .footer-text-list {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 36px;
  }

  .footer-text {
    font-size: 24px;
  }

  .footer-nav-list {
    gap: 18px;
  }

  .footer-nav-list-item {
    font-size: 20px;
  }
}
