html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.container {
  box-sizing: border-box;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  background-color: #4c2d7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding-bottom: 5px;
  padding-inline: 16px;
}

.logo-span {
  font-family: 'ADLaM Display', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.nav {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  stroke: #ffffff;
  line-height: 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .menu-open-btn {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    gap: 32px;
    margin-right: 372px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
  }
}
