.review {
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ad90c5;
}

.review-container {
  background-image: url(../public/img/waves/phone/about-us-t.png),
    linear-gradient(rgba(173, 144, 197, 0.993), rgba(173, 144, 197, 0.993));
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 320px;
  padding-top: 45px;
}

.review-title {
  font-family: 'ADLaM Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 16px;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 288px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.review-list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 17px;
}

.review-card {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
  padding: 32px 16px;
  margin-bottom: 16px;
  border-radius: 24px;
  background-color: #ffffff;
  position: relative;
}

.review-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.22;
  padding-bottom: 16px;
}

.review-card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.26;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

@media only screen and (min-width: 1200px) {
  .review {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
    background-color: #ad90c5;
  }

  .review-container {
    background-image: url(../public/img/waves/desktop/about-us.png),
      linear-gradient(rgba(173, 144, 197, 0.993), rgba(173, 144, 197, 0.993));
    background-repeat: no-repeat;
    background-position: 32% 50%;
    height: 370px;
    padding-bottom: 346px;
  }

  .review-title {
    padding-top: 5px;
    margin-bottom: 34px;
    font-size: 48px;
  }

  .carousel {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    max-width: 100%; 
  }

  .review-list {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-bottom: 17px;
    width: 150%; 

  .review-card {
    flex: 0 0 auto;
    width: 300px; 
    scroll-snap-align: start;
    padding: 32px 16px;
    margin-bottom: 16px;
    border-radius: 24px;
    background-color: #ffffff;
    position: relative;
  }

  .review-text {
    font-size: 18px;
    line-height: 1.22;
  }

  .review-card-title {
    font-size: 16px;
    line-height: 1.22;
  }
}
