.terms {
  padding-top: 24px;
  padding-bottom: 20px;
}
.term-introduction {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.term-introduction-text:not(:last-of-type) {
  padding-bottom: 20px;
}

.term-license {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.term-termination {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.term-termination-text:not(:last-of-type) {
  padding-bottom: 20px;
}

.term-description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.term-access {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.term-access-text:not(:last-of-type) {
  padding-bottom: 20px;
}

.term-updates {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.term-button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 34px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
}

.term-btn {
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  background-color: #4c2d7c;
}

.term-btn-text {
  align-items: center;
  width: 252px;
  height: 52px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.22;
  color: #ffffff;
}

@media only screen and (min-width: 1200px) {
  .terms {
  }
  .container {
    max-width: 1200px;
  }

  .title {
    font-size: 32px;
    padding-bottom: 24px;
  }

  .text {
    font-size: 20px;
    line-height: 1.4;
    max-width: 1152px;
  }

  .term-introduction {
    padding-bottom: 24px;
  }

  .term-license {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .term-termination {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .term-description {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .term-access {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .term-updates {
    padding-top: 24px;
    padding-bottom: 21px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
