.header {
  padding: 8px 72px;
  width: 100%;
  height: 104px;
  background-color: $_header_accent_color;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 363px;
}

.nav-logo {
  margin-right: auto;
}

.logo {
  display: block;
}

.icon-logo {
  width: 72px;
  height: 72px;
}

.navLink {
  display: flex;
  gap: 32px;
  margin-left: auto;
  // margin-left: 363px;
}

.link {
  text-decoration: none;
  color: $_header_text_color;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.link:hover,
.link:focus {
  color: $_hover_text_color;
  transition: all 0.3s ease;
}

.burger-btn,
.close-btn {
  display: none;
}

@media (max-width: 768px) {
  .burger-btn,
  .close-btn {
    display: block;
  }

  .navLink {
    display: none;
  }
}
