.back {
  color: $_header_text_color;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.privacy-policy {
  color: $_header_text_color;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 28px 0 16px;
  @include media(desktop) {
    font-size: 48px;
  }
}

.marketing-section {
  padding: 16px 0;
}

.marketing-section {
  margin-bottom: 32px;
}

.marketing-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: $_header_text_color;
  @include media(desktop) {
    font-size: 32px;
  }
}

.marketing-text-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.protections-right {
  margin-bottom: 32px;
}

.terms-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: $_header_text_color;
  @include media(desktop) {
    font-size: 32px;
  }
}

.protection-right-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.changes-section {
  padding-bottom: 96px;
}

.changes-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: $_header_text_color;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 32px;
  }
}
