.reviews-section {
  padding: 56px 0 0;
}

.reviews-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

.swiper-reviews {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide-reviews {
  width: 240px !important;
  box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff9cd;
  border-radius: 16px;
  padding: 32px 24px;
  @include media(desktop) {
    width: 516px !important;
    margin-right: 6px;
    margin-left: 6px;
  }
}

.reviews-box {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.reviews-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 16px;
}

.reviews-nickname {
  font-weight: 500;
  font-size: 16px;
}

.reviews-text {
  font-size: 12px;
}
