@import url('./header.scss');
@import url('./hero.scss');
@import url('./footer.scss');
@import url('./advantages.scss');
@import url('./benefits.scss');

@import url('./terms-of-us.scss');

@import url('./reviews.scss');
@import url('./privacy-policy.scss');




:root {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #290c44;

  height: 100vh;
  background: linear-gradient(
    to top,
    #d2ffb1 0%,
    #c2fffd 35%,
    #ffc6e6 65%,
    #c2fffd 100%
  );

  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

main {
  flex-grow: 1;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 24px;
  }
}
