.terms-section:not(:last-child) {
  padding: 16px 0;
}

.terms-section:last-child {
  padding: 16px 0 56px;
  @include media(desktop) {
    padding: 16px 0 96px;
  }
}

.terms-header {
  padding: 32px 0 16px 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: color 250ms linear, fill 250ms linear;
  @include media(desktop) {
    font-size: 20px;
    padding: 72px 0 28px;
  }
}

.terms-header:focus,
.terms-header:hover {
  color: #f15d99;
  fill: #f15d99;
}

.terms-svg {
  margin-right: 16px;
  @include media(desktop) {
    width: 24px;
    height: 24px;
  }
}

.terms-caption {
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  padding: 16px 0;
  @include media(desktop) {
    padding: 28px 0 16px;
    font-size: 48px;
  }
}

.terms-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 16px;
    font-size: 32px;
  }
}

.terms-section p:not(:last-child) {
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 16px;
  }
}
